@media(max-width: 1080px) {
    header {
        position: fixed;
        z-index: 10;
    }
    .header-wrapper {
        padding: 0 20px;
        justify-content: space-between;
    }
    .header-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .logo {
        display: block;
    }
    
    .header-hamburger-btn {
        display: block;
    }

    .about-office-wrapper {
        justify-content: center;
        align-items: flex-start;
    }
    
    .about-office-content {
        padding: 60px 0 0;
    }
}

@media(max-width: 820px) {
    .slogans-container {
        gap: 90px;
    }

    .footer-social-links-container {
        flex-direction: column;
        gap: 25px;
    }

    .footer-contact-container {

    }
}

@media(max-width: 390px) {
    /* SLOGAN CONTAINER | SLOGAN BOX */
    .slogans-container {
        padding: 0;
        gap: 32px;
    }

    .slogan-box {
        width: 82px;
    }

    /* HEADER */
    .header-btn-wrapper {
        margin-right: 16px; 
        display: flex;
    }

    /* HOME SECTION */
    .home-section {
        height: 100%;
    }

    .home-section::after {
        height: 460px;
        top: 1.5px;
        bottom: auto;
    }

    .home-section-backgorund-container {
        height: 460px;
        position: relative;
    }

    .mobile-nav  {
        padding: 70px 0;
    }

    .mobile-nav ul a {
        max-width: 160px;
        padding: 10px 16px;
    }

    .mobile-nav-content {
        gap: 20px;
    }

    .mobile-nav-social-links-container {
        gap: 20px;
    }

    .mobile-nav-address-map {
        height: 230px;
    }

    .intro-wrapper {
        margin: 10px 0 0;
    }

    .intro-title-box {
        display: none;
    }

    .intro-search-bar-box {
        width: 250px;
        justify-content: center;
        align-items: center;
    }
    
    .intro-caption-box {
        align-items: center;
        text-align: center;
    }
    
    /* TOMBSTONE SECTION */
    .tombstone-section-wrapper{
        margin: 66px 0 30px;
        gap: 30px;
    }

    .tombstone-section-description {
        gap: 15px;
    }

    .galary-description-box,
    .catalog-description-box {
        width: 290px;
        gap: 5px;
    }

    /* ABOUT OFFICE SECTION */
    .about-office-section {
        height: 100%;
    }

    .about-office-background {
        height: 350px;
        background-position: 5%;
    }

    .about-office-content {
        padding: 75px 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .about-office-title-container {
        width: 320px;
        align-items: flex-end;
        justify-content: center;
        gap: 35px;
    }
    
    .about-office-title {
        font-size: 24px;
        line-height: 30px;
        color: var(--primary-white);
        inline-size: 110px;
        overflow-wrap: break-word;
        text-align: center;
    }

    .about-office-caption {
        font-size: 12px;
        line-height: 12px;
        color: white;
        inline-size: 320px;
        overflow-wrap: break-word;
    }

    .working-hours-container {
        width: 250px;
        height: 180px;
    }

    .home-working-hours-color {
        background-image: url(.././img/workingHours/workingHours-primary-blue.png);
    }



    /* DESIGN SECTION */
    .design-box {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .design-section-wrapper {
        padding-bottom: 30px;;
    }
    
    .design-section-content {
        gap: 40px;
    }
    
    .design-caption {
        inline-size: 300px;
    }
    
    /* FOOTER */
    .footer-wrapper {
        padding: 50px 0;
        gap: 25px;
    }

    .footer-social-links-container {
        flex-direction: column-reverse;
        gap: 30px;
    }
    
    .footer-social-links {
        gap: 40px;
    }

    .footer-contact-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-address {
        inline-size: 300px;
    }

    .footer-location-img {
        height: 300px;

        background-position: 75%;
    }
}