:root {
	--index: calc(1vw + 1vh);
	--transition: transform .75s cubic-bezier(.75, .5, 0, 1);
}

/*
 *  GLOBAL VARIABLES
 */

/* SLOGANS */

.slogans-container {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.slogan-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 75px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
 * HEADER
 */

header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: transform 0.2s ease-out;
}

header.header-hide {
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
}
  

.header-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    width: 1080px;
    height: 100%;

    background-image: url('../img/headerImgs/halfEllipse copy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 66px;
}

.mobile-nav {
    min-height: 100vh;
    padding: 100px 0;
    background-color: var(--primary-blue-dark);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 10;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0
}

.mobile-nav ul {
    width: 100%;
}

.mobile-nav ul a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--primary-gray);
    color: #FFF;
    text-decoration: none;
    transform: var(--scrollTop);
}

.mobile-nav ul a:hover {
    background-color: var(--primary-blue-li);
}

.mobile-nav-content  {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    position: fixed;
}

.mobile-nav-social-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.mobile-nav-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.mobile-nav-contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mobile-nav-whatsup-caption,
.mobile-nav-email-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mobile-nav-whatsup-caption,
.mobile-nav-email-caption,
.mobile-nav-address {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--primary-blue);
}

.mobile-nav-address-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.mobile-nav-address-map {
    width: 100%;
    height: 250px;
}

/* PAGE LOGO */

.logo {
    display: none;
    width: 50px;
    height: 35px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 11;
}

/* HAMBURGER BUTTON */

.header-hamburger-btn {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 11;
}

.header-hamburger-btn .hamburger-btn-bar,
.header-hamburger-btn:after,
.header-hamburger-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.header-hamburger-btn.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px)
}

.header-hamburger-btn.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px)
}

.header-hamburger-btn.is-active .hamburger-btn-bar {
    opacity: 0
}


/*
 *  HOME SECTION
 */

.home-section {
    width: 100%;
    height: 1080px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.home-section::after {
    content: '';
    width: 100%;
    height: 100%;

    background-image: url(../img/parallaxBackground/sky-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    bottom: -1.5px;
	
    z-index: 1;
}

/* .home-section::after {
    content: '';
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: -0.5px;

    background: linear-gradient(to top, var(--primary-blue-dark), transparent);
    z-index: 1000;
} */

/* HOME SECTION BACKGROUND | PARALLAX SCROLL */

.home-section-backgorund-container {
    width: 100%;
    height: 1080px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* 
.home-section-backgorund-container::before {
    content: '';
    width: 100%;
    height: 100%;

    background-image: url(../img/parallaxBackground/sky-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    bottom: -0.5px;
	
    z-index: 1000;
}

.home-section-backgorund-container::after {
    content: '';
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: -0.5px;

    background: linear-gradient(to top, var(--primary-blue-dark), transparent);
    z-index: 1000;
} */


.parallax-layer {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;

    position: absolute;
    
}

.layer-base {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layer-logo {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
}

.layer-middle {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
}

/* INTRO */

.intro-wrapper {
    margin: 80px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;

    z-index: 2;
}

.intro-title-box {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.intro-search-bar-box {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.intro-caption-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

/*
 *  CATALOG SECTION
 */

.tombstone-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.tombstone-section-wrapper {
    width: 100%;
    margin: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 150px;
}

/* TOMBSTONE CONTAINER */

.tombstone-slide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.tombstone-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOMBSTONE SECTION DESCRIPTION */

.tombstone-section-description {
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 170px;
}

.galary-description-box,
.catalog-description-box {
    /* flex-basis: 50%; */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*
 *  ABOUT OFFICE SECTION
 */

.about-office-section {
    width: 100%;
    height: 890px;
    position: relative;
}

.about-office-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.about-office-background {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: -1;
}

.about-office-content {
    padding: 60px 160px 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.about-office-title-container {
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* text-align: center; */
}

.about-office-title {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;

    color: var(--primary-white);
}

.about-office-caption {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--primary-white);
}

.working-hours-container {
    width: 350px;
    height: 250px;
    display: flex;
}

.working-hours {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-working-hours-color {
    background-image: url(.././img/workingHours/workingHours-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
 *  DESIGN SECTION
 */

.design-section {
    width: 100%;
    height: 100%;
}

.design-section-wrapper {
    width: 100%;
    height: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.design-box {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.monument-cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    gap: 30px;
}

.design-caption {
    inline-size: 500px;
    overflow-wrap: break-word;
}

/*
 *  FOOTER
 */

.footer-wrapper {
    width: 100%;
    /* margin: 75px 0; */
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-social-links-container {
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.footer-social-links,
.footer-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-contact-container {
    flex-wrap: wrap;
}

.whatsup-caption, 
.email-caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.whatsup-caption, 
.email-caption,
.footer-address {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--primary-blue);

    
}

.footer-address-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-address {
    min-inline-size: 175px;
}

.footer-address-map {
    width: 100%;
    height: 350px;
}