:root {
	--index: calc(1vw + 1vh);
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

/*
 *  GLOBAL VARIABLES
 */

/* SLOGANS */

.slogans-container {
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.slogan-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*
 * HEADER
 */

header {
    width: 100%;
    height: 75px;
    z-index: 1000;
}

.header-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    width: 1080px;
    height: 100%;

    background-image: url('../img/headerImgs/halfEllipse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 66px;
}

/* HAMBURGER BUTTON */

.header-btn-wrapper {
    width: 100%;

    display: none;
    justify-content: flex-end;
    align-items: center;

    position: relative;
}

.header-hamburger-btn {
    width: 35px;

    display: block;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    appearance: none;
    outline: none;
    border: none;

    z-index: 1;
}

/*
 *  HOME SECTION
 */

.home-section {
    width: 100%;
    height: 1080px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.home-section::after {
    content: '';
    width: 100%;
    height: 100%;

    background-image: url(../img/parallaxBackground/sky-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    bottom: -1.5px;
	
    z-index: 1;
}

/* .home-section::after {
    content: '';
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: -0.5px;

    background: linear-gradient(to top, var(--primary-blue-dark), transparent);
    z-index: 1000;
} */

/* HOME SECTION BACKGROUND | PARALLAX SCROLL */

.home-section-backgorund-container {
    width: 100%;
    height: 1080px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* 
.home-section-backgorund-container::before {
    content: '';
    width: 100%;
    height: 100%;

    background-image: url(../img/parallaxBackground/sky-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    bottom: -0.5px;
	
    z-index: 1000;
}

.home-section-backgorund-container::after {
    content: '';
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: -0.5px;

    background: linear-gradient(to top, var(--primary-blue-dark), transparent);
    z-index: 1000;
} */


.parallax-layer {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;

    position: absolute;
    
}

.layer-base {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layer-logo {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
}

.layer-middle {
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
}

/* INTRO */

.intro-wrapper {
    width: 65%;
    margin: 80px 0;

    display: flex;
    flex-direction: row;
    gap: 20%;
}

.intro-title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.intro-search-bar-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.intro-caption-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

/*
 *  CATALOG SECTION
 */

.tombstone-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.tombstone-section-wrapper {
    width: 100%;
    margin: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 150px;
}

/* TOMBSTONE CONTAINER */

.tombstone-slide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.tombstone-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOMBSTONE SECTION DESCRIPTION */

.tombstone-section-description {
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 170px;
}

.galary-description-box,
.catalog-description-box {
    /* flex-basis: 50%; */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*
 *  ABOUT OFFICE SECTION
 */

.about-office-section {
    width: 100%;
    height: 890px;
    position: relative;
}

.about-office-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.about-office-background {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: -1;
}

.about-office-content {
    padding: 60px 160px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.about-office-title-container {
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* text-align: center; */
}

.about-office-title {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;

    color: var(--primary-blue);
}

.about-office-caption {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--primary-blue-dark);
}

.working-hours-container {
    width: 350px;
    height: 250px;
    display: flex;
}

.working-hours {
    width: 100%;
    height: 100%;
}

.home-working-hours-color {
    background-image: url(.././img/workingHours/workingHours-primary-blue-dark.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
 *  DESIGN SECTION
 */

.design-section {
    width: 100%;
    height: 100%;
}

.design-section-wrapper {
    width: 100%;
    height: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.design-box {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.monument-cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    gap: 30px;
}

.design-caption {
    inline-size: 500px;
    overflow-wrap: break-word;
}

/*
 *  FOOTER
 */

.footer-wrapper {
    width: 100%;
    /* margin: 75px 0; */
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-social-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.footer-social-links,
.footer-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.whatsup-box,
.email-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.whatsup-caption, 
.email-caption,
.footer-address {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--primary-blue);
}

.footer-location-img {
    width: 100%;
    height: 350px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}